<!DOCTYPE html>
<html>
<head>
    <title>Mika Control</title>
</head>
<body>
    <h1>Greetings, feeble mortal! You have entered the realm where I, Dr. Sheldon Cooper, grant you the privilege to control our highly advanced robot - MiKa. Proceed with caution!</h1>
    <p>Laptop IP Address: {{ ip_address }}</p>
    <p><a href="/action">Action</a></p>
    <p><a href="/forward">Go Forward</a></p>
    <p><a href="/backward">Go Backward</a></p>
    <p><a href="/right">Go Right</a></p>
    <p><a href="/left">Go Left</a></p>
    <p><a href="/stopdrive">Stop Drive</a></p>
    <p><a href="/namasthe">Namasthe</a></p>
    <p><a href="/namasthereset">Namasthe Reset</a></p>
    <p><a href="/handwave">Hand Wave</a></p>
    <p><a href="/wavereset">Wave Reset</a></p>
    <p><a href="/seq1">Seq1</a></p>
    <p><a href="/seq2">Seq2</a></p>
    <p><a href="/flower">Flower</a></p>

</body>
</html>
